/*General styles*/
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 62.5% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    font-size: inherit;
    display: flex;
    flex-direction: column;
}

:root{
  --BackgroundColorLight: #FaFaFa;
  --BackgroundColorDark: #F6F6F6;
  --BackgroundColorMiddle: lightgrey;
  --ColorTextLigtht: orange;
  --ColorTextDark: black;
  --ColorTextHoverLight: yellow;
  --ColorTextHoverDark: red;
}

h1, h2, h3{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
  margin: 0;
}

ul.unstyled{
  margin: 0;
  padding: 0;
}

ul.unstyled > li {
  display: block;
  list-style-type: none;
  float: left;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*Header section*/
header{
  z-index: 1;
  background-color: var(--BackgroundColorDark);
  color: var(--ColorTextLigtht);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
  padding: 0.05em 1em;
  position: fixed;
  top: -1px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.topbar-tamaño1{
  height: 4em;
}

.topbar-tamaño2{
  height: 6em;
}

#encabezado2{
  height: 5em;
}

.rollup{
  animation: wait_go 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@keyframes wait_go{
  0% {
  opacity: 0;
  }
  40% {
  opacity: 1;
  }
  60%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  }
}

.rolldown{
  animation: go_down 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes go_down{
  0% {
    transform: translate(-50%, -500%);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}

#HolaNaranja{
  -webkit-animation: hola .5s steps(10) alternate infinite;
     -moz-animation: hola .5s steps(10) alternate infinite;
      -ms-animation: hola .5s steps(10) alternate infinite;
       -o-animation: hola .5s steps(10) alternate infinite;
          animation: hola .5s steps(10) alternate infinite;
}

@keyframes hola{
  from {
    transform: rotate(20deg);
    -webkit-transform-origin: 50% 75%;
            transform-origin: 50% 75%;
  }
  to {
    transform: rotate(-20deg);
    -webkit-transform-origin: 50% 75%;
            transform-origin: 50% 75%;
  }
}


/* Modal */
#modal_background{
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#modal_container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 0.8rem;
  position: fixed;
  color: black;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  /* transition: transform 200ms ease-out; */
}

#button_modal_close{
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 2.5rem;
}

#button_modal:hover{
  cursor: pointer;
}

/* #modal_container>p{
  color: black;
  font-size: 3rem;
  margin: 1rem;
} */

#identidadComercio{
  height: 10rem;
  padding-top: 5rem;
  margin:auto;
}

#listaRedesSociales{
  width: 80%;
  margin:auto;
  padding: 2rem 0 1rem 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

#span_modal{
  color: #fe7330ff;
  font-weight: bold;
}

nav{
  background-color: var(--BackgroundColorDark);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 1rem 0;
}

.Category{
  height: 5rem;
  cursor: pointer;
  box-sizing: border-box;
}

.st0{
  fill: #434142;
}

.Category:hover .st0{
  fill: #fe7330ff;
}

.Category:active{
  background-color: var(--BackgroundColorDark);
}

.Category:active .st0{
  fill: #434142;
}

.pictures_gallery{
  width: 100%;
  border-radius: 3em;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.7);
}

.pictures_gallery:hover{
  cursor: pointer;
}

.pictures_gallery:active{
  width: 99.90%;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.7);
}

/*Main body*/
main {
  border-top: 0.2em var(--ColorTextDark) solid;
  background-color: var(--BackgroundColorLight);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3em;
}

#section_b{
  display: grid;
  grid-template-columns:repeat( 1, 1fr );
  justify-content: center;
  grid-gap: 2em;
  padding: 9em 2em 2em 2em;
}

/*Footer*/
footer{
  background-color: #444444;
  color: white;
  /* padding: 0em 1em 0em 1em; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 6rem;
}

#identidad_footer{
  height: 8em;
  padding: 0;
  margin: 0;
}

.contact_icons_footer{
  height: 1em;
  vertical-align: middle;
}

#text_footer{
  font-size: 1em;
  text-align: center;
  padding-right: 1.5em;
}

footer p{
  margin-top: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  #nav_bar_desktop{
    display: none;
  }

  #hide_menu{
    display: none;
  }

  #button_modal{
    font-size: 2em;
    margin: 0.5em;
  }

  #modal_content>p{
    font-size: 2em;
    margin: 0.5em;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  #hide_menu{
    display: none;
  }

  #section_b{
    padding: 16em 2em 2em 2em;
  }

  .topbar-tamaño1{
    height: 9em;
  }
  
  .topbar-tamaño2{
    height: 11em;
  }

  #identidad_footer{
    height: 20em;
  }
  
  .contact_icons_footer{
    height: 1em;
    vertical-align: middle;
  }
  
  #text_footer{
    font-size: 2em;
    text-align: center;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  #section_b{
    padding: 9em 2em 2em 2em;
  }

  .topbar-tamaño1{
    height: 4em;
  }
  
  .topbar-tamaño2{
    height: 6em;
  }

  #identidad_footer{
    height: 10em;
  }
  
  .contact_icons_footer{
    height: 1em;
    vertical-align: middle;
  }
  
  #text_footer{
    font-size: 1.3em;
    text-align: center;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  #section_b{
    grid-template-columns: repeat(3, 1fr);
  }

  #modal_container{
    width: 30%;
  }

  #button_modal{
    top: 1rem;
    left: 1rem;
  }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  #section_b{
    grid-template-columns: repeat(3, 1fr);
  }

  #modal_container{
    width: 30%;
  }

  #button_modal{
    top: 1rem;
    left: 1rem;
  }
  
}